*{
    margin: 0%;
    padding: 0%;
}
body{
    height:100vh;
    display: grid;
    place-items:center;
    background-color: rgb(164, 127, 127);

}
button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    padding: 1em 1em;
    border-radius:2em;
    border: 3px solid ;
    background-color: transparent;
    color: azure;
    letter-spacing: 1.5px;
    cursor: pointer;
    outline: none;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: azure;
    
}